/*
Fonts---> http://www.latofonts.com
*/
html, body {
	font-family: 'Lato', sans-serif;
	color: #666;
	height: 100%;
}

.container {
    background: #fff;
    max-width: 970px;
    margin: 0 auto 10px auto;
}

ul {
	margin-bottom: 15px;
}
