/*
Fonts---> http://www.latofonts.com
*/
html, body {
	font-family: 'Lato', sans-serif;
	color: #666;
	height: 100%;
}

.container {
    background: #fff;
    max-width: 970px;
    margin: 0 auto 10px auto;
}

h1 {
	color: #FA1F02;
}

ul li {
	margin-bottom: 15px;
}

a {
	color: #008ae6;
}

a:hover {
	color: #FA1F02;
	text-decoration: none;
}

.badge {
	background: #FA1F02;
}