<div>
	<a ng-href="#/main"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back</a>
	<h2>Hello World!</h2>
	<h4>My name is Magdalena Jadach. This app was built as a part of mentorship program for women.
	During the work I get great help from Emanuele Libralato - you can say 'hallo' to him <a href="http://www.tenko.it" target="_blank">here</a>.</h4>
	<h4>For last few years I used to work as a journalist in Krakow, Poland. About two years ago I become interested in coding. After few monts of learning I have decided to switch my career path to programming. My dreams become true and now I am working as a Font End Developer in London.</h4>
	<h4>This app is a fusion of my two passions: code and news. I decided to bulit this app, to show news stories from a different perspective - female perspective. I also dream about encourage other girsls and women, to become interested in IT. IT's a great journey!</h4>
	<h4>You can contact my here:
	<a href="https://twitter.com/magda_jadach" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a> 
	<a href="https://uk.linkedin.com/in/magdalenajadach" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a> or visit my personal <a href="https://magdalenajadach.github.io/" target="_blank">website.</a></h4>
</div>